/* Employer.css */
.layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding-top: 70px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 60px;
  }
  
  .column {
    display: flex;
    flex-direction: column;
  }
  
  .rounded-lg {
    border-radius: 12px;
  }
  
  .shadow-lg {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .cursor-pointer {
    cursor: pointer;
  }
  
  /* Add more styles as needed */
  