.labour-description {
    color: #1D4ED8;
    font-size:50px;
    font-weight: 100;
    margin-top:50px;
    margin-bottom: 20px;
  }

  .title-description {
    color: #1D4ED8;
    font-size:50px;
    font-weight: 100;
    margin-top:-60px;
    margin-bottom: 20px;
  }
  
  .job-postings-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -20px;
  }
  
  .labour-container {
    background: var(--root-bg);
    text-align: center;
    padding: 70px;
  }
  
  .job-posting {
    align-items: center;
    background: var(--N100);
    width: 100%;
    background-color: aliceblue; /* Very light blue background */
    border: 2px solid #4682b4; /* Blue border color */
    padding: 2rem;
    padding-bottom: 1rem;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(70, 130, 180, 0.3); /* Blue theme shadow */
  }
  
  .job-posting h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
  }
  
  .job-posting p {
    font-size: 1.2rem;
    color: #555;
  }
  
  .apply-button {
    background-color:rgb(3, 148, 167); /* Blue button color */
    border-radius: 10px;
    font-size: large;
    font-weight: 100;
    color: white;
    padding: 0.8rem;
    padding-top: 0.6rem;
    margin: 20px;
    cursor: pointer;
  }
  
  /* Add a specific class for the highlighted job posting */
  .highlighted-job-posting {
    background-color: #f0f0f0;
    border: 2px solid #4682b4; /* Blue border color */
    padding: 1.5rem;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(70, 130, 180, 0.3); /* Blue theme shadow */
  }
  
  .highlighted-job-posting h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
  }
  
  .highlighted-job-posting p {
    font-size: 1.2rem;
    color: #555;
  }
  
  .job-posting.highlighted {
    box-shadow: 0 0 10px #4682b4;
  }
  


  /* LabourDashboard.css (or any other CSS file you prefer) */

.search-bar {
  margin-top: 30px;
  display: flex;
  margin-left: 10px;
  margin-bottom: 50px;
  align-items: center;
}

.search-icon {
  position: absolute;
  margin-left: -25px;
  color: #888;
}

.search-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  margin-right: 8px;
  font-size: 16px;
  width: 200px;
}

.search-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

/* Style the button on hover if needed */
.search-button:hover {
  background-color: #0056b3;
}


.cancel-search-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 10px;
}

.cancel-search-button:hover {
  background-color: #ff6666;
}


.loading-container {
  margin-top: 15%;
  margin-left: 48%;
}

.boxes {
  
  --size: 32px;
  --duration: 800ms;
  height: calc(var(--size) * 2);
  width: calc(var(--size) * 3);

  position: relative;
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
  margin-top: calc(var(--size) * 1.5 * -1);
  transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px);
}

.boxes .box {
  width: var(--size);
  height: var(--size);
  top: 0;
  left: 0;
  position: absolute;
  transform-style: preserve-3d;
}

.boxes .box:nth-child(1) {
  transform: translate(100%, 0);
  -webkit-animation: box1 var(--duration) linear infinite;
  animation: box1 var(--duration) linear infinite;
}

.boxes .box:nth-child(2) {
  transform: translate(0, 100%);
  -webkit-animation: box2 var(--duration) linear infinite;
  animation: box2 var(--duration) linear infinite;
}

.boxes .box:nth-child(3) {
  transform: translate(100%, 100%);
  -webkit-animation: box3 var(--duration) linear infinite;
  animation: box3 var(--duration) linear infinite;
}

.boxes .box:nth-child(4) {
  transform: translate(200%, 0);
  -webkit-animation: box4 var(--duration) linear infinite;
  animation: box4 var(--duration) linear infinite;
}

.boxes .box > div {
  --background: #5C8DF6;
  --top: auto;
  --right: auto;
  --bottom: auto;
  --left: auto;
  --translateZ: calc(var(--size) / 2);
  --rotateY: 0deg;
  --rotateX: 0deg;
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--background);
  top: var(--top);
  right: var(--right);
  bottom: var(--bottom);
  left: var(--left);
  transform: rotateY(var(--rotateY)) rotateX(var(--rotateX)) translateZ(var(--translateZ));
}

.boxes .box > div:nth-child(1) {
  --top: 0;
  --left: 0;
}

.boxes .box > div:nth-child(2) {
  --background: #145af2;
  --right: 0;
  --rotateY: 90deg;
}

.boxes .box > div:nth-child(3) {
  --background: #447cf5;
  --rotateX: -90deg;
}

.boxes .box > div:nth-child(4) {
  --background: #DBE3F4;
  --top: 0;
  --left: 0;
  --translateZ: calc(var(--size) * 3 * -1);
}

@-webkit-keyframes box1 {
  0%, 50% {
    transform: translate(100%, 0);
  }

  100% {
    transform: translate(200%, 0);
  }
}

@keyframes box1 {
  0%, 50% {
    transform: translate(100%, 0);
  }

  100% {
    transform: translate(200%, 0);
  }
}

@-webkit-keyframes box2 {
  0% {
    transform: translate(0, 100%);
  }

  50% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(100%, 0);
  }
}

@keyframes box2 {
  0% {
    transform: translate(0, 100%);
  }

  50% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(100%, 0);
  }
}

@-webkit-keyframes box3 {
  0%, 50% {
    transform: translate(100%, 100%);
  }

  100% {
    transform: translate(0, 100%);
  }
}

@keyframes box3 {
  0%, 50% {
    transform: translate(100%, 100%);
  }

  100% {
    transform: translate(0, 100%);
  }
}

@-webkit-keyframes box4 {
  0% {
    transform: translate(200%, 0);
  }

  50% {
    transform: translate(200%, 100%);
  }

  100% {
    transform: translate(100%, 100%);
  }
}

@keyframes box4 {
  0% {
    transform: translate(200%, 0);
  }

  50% {
    transform: translate(200%, 100%);
  }

  100% {
    transform: translate(100%, 100%);
  }
}
