/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


.header {
  background-color : #214783;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: -50px;
  margin-top: -20px;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}
.company-logo{
  margin-left: 15px;
  margin-top: 20px;
  height: 50px;
  width: 180px;
}

.navbar {
  flex: 0 0 85%; /* Set the navbar width to 60% of the available space */ ;
  margin-top: 15px
}

.nav-list{
  @apply flex justify-around items-center; /* Example: Flex container with space-around alignment */
  gap:0%; /* Add spacing between flex items */
  padding: 0px 50px; /* Apply padding to the list instead */
}

.nav-link {
  @apply text-white text-center text-xl no-underline; /* Set text color to blue */
}


.signup-link {
  color: #3182ce; /* Set your desired highlighted color */
  text-decoration: underline; /* You can customize the text decoration as needed */
}

.signup-link:hover {
  color: #2c5282; /* Set your desired color for the hover state */
}